<%- include('../templates/header') %>
    
        <% if ( !error ) { %>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Name </th>
                        <th>Last Name</th>
                        <th>Phone </th>
                        <th>Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach( i=>{ %>
                        <tr>
                            <td>
                                <%= i.username %>
                            </td>
                            <td>
                                <%= i.nombre %>
                            </td>
                            <td>
                                <%= i.apellidos %>
                            </td>
                            <td>
                                <%= i.telefono %>
                            </td>
                            <td>
                                <input type="button" value="Update" class="btn btn-warning">
                                <input type="button" value="Delete" class="btn btn-danger">
                                <input type="button" value="Show" class="btn btn-primary">
                            </td>
                        </tr>
                        <% } ) %>
                </tbody>
            </table>
            <div class="d-grid gap-2">
                <input type="button" value="Add" class="btn btn-success">
            </div>
        <% } %>
<%- include('../templates/footer') %>